# flask
# flask_cors
# pandas
# numpy
# requests
# scikit-learn
sentence-transformers
# faiss-cpu
python-dotenv
# google-generativeai
torch
# gunicorn
# huggingface_hub[hf_xet]
streamlit
pandas
numpy
faiss-cpu
openai
google-generativeai
uvicorn
fastapi
tabulate
